# Object files
*.o
*.ko
*.d
*.s

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.gch

# Executables
rearrange
fsaccess
*.exe
*.out
*.app

tags
jun*
out*
*~
*.swp
*.swo
*.orig
*.sublime-project
*.sublime-workspace
